* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-content {
  width: 90%;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .icons {
  display: flex;

}

.header-content .icons i {
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  width: 40px;
}

.header-content .icons i:hover {
  animation: rotateItem 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
  color: #E5BF4A;
}

nav {
  width: 90%;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  gap: 1.8rem;
}

nav ul .blog:hover .blogmenu {
  position: absolute;
  width: 10rem;
  z-index: 1;
  /* top: 66px; */
  /* display: block; */
}
nav ul .blog:hover .blog-head{
display: flex;
}

.blog-head{
  width: 10rem;
  position: absolute;
  top: 2.5rem;
  height: 16rem;
  /* background-color: red; */
  display: none;
  align-items: center;
}
nav ul .blog .blogmenu {
  position: absolute;
  width: 10rem;
  z-index: 1;
  /* top: 66px; */
  /* background-color: red; */
    /* display: none; */

}

nav ul .blog .blogmenu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
}

nav ul .blog .blogmenu ul li a {
  color: gray;
}

nav ul .blog .blogmenu ul li a:hover {
  color: #E5BF4A;
}

header nav ul li {
  position: relative;
}

header nav ul li :hover {
  color: #E5BF4A;
}

.menu-item:hover::after {
  animation: menuItem 1s;
  animation-fill-mode: forwards;
}

.menu-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #E5BF4A;
  left: 0;
  bottom: 0;
}


nav ul li a {
  font-family: "Jost", sans-serif;
  color: #fff;
  font-weight: 400;
  padding: 20px 7px;
  display: block;
  font-size: 15px;
}

.header-content .callUs a {
  color: #E5BF4A;
  border: 1px solid #E5BF4A;
  display: inline-block;
  padding: 11px 20px;
  text-transform: capitalize;
  font-size: 16px;
}

.header-content .callUs a:hover {
  background: #E5BF4A;
  color: #fff;
  transition: 1s;
}

.sct1 {
  width: 100%;
  height: 700px;
  background-image: url('https://preview.colorlib.com/theme/cakeshop/assets/img/hero/h1_hero1.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sct1-content {
  width: 1320px;
  height: 270px;
}

.sct1-text {
  height: 100%;
  width: 636px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sct1-content h2 {
  font-size: 70px;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
  font-family: "Poiret One", cursive;
}

.sct1-content a {
  background: #E5BF4A;
  border: 1px solid #2A2A2A;
  color: #0A0A0A;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  padding: 22px 41px;
  text-transform: uppercase;
  line-height: 15px;
}

.sct1-content .sct1-text .order a:hover {
  color: #E5BF4A;
  background: #0A0A0A;
  border: 1px solid #E5BF4A;
  transition: 0.5s;
}

.sct2 {
  width: 100%;
  height: 642px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sct2-cards {
  width: 1350px;
  height: 447px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sct2-cards .card {
  width: 408px;
  height: 417px;
  display: flex;
  flex-direction: column;
}

.sct2-cards .card .img {
  position: relative;
}

.sct2-cards .card .img img {
  width: 100%;
  height: 327px;
}


.addToCart {
  background-color:#E5BF4A;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: none;
  justify-content: center;
  align-items:center ;
  
}

.img:hover .addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: addChart 1s;
}

.sct2-cards .card .img {
  overflow: hidden;
  position: relative;
}

.sct2-cards .card .img img:hover {
  scale: 1.1;
  transition: 1s;
}

.sct2-cards .card span {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1rem;
  font-family: "Poiret One", cursive;
}

.sct2-cards .card a {
  color: #E5BF4A;
  cursor: pointer;
  font-weight: 300;
  font-size: 20px;
}

i {
  color: rgba(229, 191, 74, 0.5);
  font-size: 30px;
}

footer {
  width: 100%;
  height: 360px;
  background-color: #0A0A0A;
  display: flex;
  justify-content: center;
  align-items: end;
}

.footer-content {
  width: 1320px;
  height: 332px;
}

.content-top {
  width: 100%;
  height: 247px;
  display: flex;
  justify-content: space-between;
}

.top-text {
  width: 550px;
  height: 247px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-text p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 21px;
  line-height: 1.8;
  font-family: "Jost", sans-serif;
}

.top-text .btns {
  margin-bottom: 1.8rem;
}

.top-text .btns a {
  color: #fff !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 14px 36px 13px 39px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  background: none;
  border-radius: 0px;
  margin-right: 4px;
  margin-bottom: 10px;
}

.top-text .btns a:hover {
  color: #E5BF4A;
  border-color: #E5BF4A;
}

.top-text .btns a i:hover {
  color: #E5BF4A;
}

.top-text .btns a i {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  right: 15px;
  top: 2px;
  color: #fff;
}

.location {
  width: 220px;
  height: 247px;
  display: flex;
  flex-direction: column;
}

.location img,
.contact img {
  height: 23px;
  width: 23px;
  margin-bottom: 20px;
}

.location span,
.contact span {
  color: #E5BF4A;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Poiret One", cursive;
  line-height: 1.2;
}

.location p,
.contact p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: normal;
  line-height: 1.4;
  font-family: "Jost", sans-serif;
}

.contact {
  width: 220px;
  height: 247px;
  display: flex;
  flex-direction: column;
}

.content-bottom {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.content-bottom p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  font-family: "Jost", sans-serif;
}

.scroll a {
  position: absolute;
  text-align: center;
  bottom: -3px;
  margin: 0 auto;
  display: block;
  right: 7px;
  cursor: pointer;
  background: #E5BF4A;
  height: 40px;
  width: 40px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  line-height: 40px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
}

.scroll a i {
  color: #fff;
}

@keyframes rotateItem {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes menuItem {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes addChart {
  from {
    height: 0;
  }

  to {
    height:10%;
  }
}


@media (max-width:992px) {
  .callUs {
    display: none;
  }

  .sct1-text {
    width: 100%;
    margin: 0;
  }

  .sct1-content h2,
  .order {
    padding-left: 1.8rem;
  }

  .sct2 {
    height: auto;
  }

  .sct2-cards {
    height: auto;
    justify-content: center;
    margin: 1.8rem 0;
  }

  footer {
    height: auto;
  }

  .content-top {
    flex-wrap: wrap;
    height: auto;
    padding: 1rem;
  }

  .footer-content {
    height: auto;
  }
}

@media (max-width:600px) {
  ul {
    display: none;
  }

  .header-content img {
    width: 150px;
    height: 50px;
  }

  .top-text {
    width: 100%;
    height: auto;
  }

  .sct2-cards .card {
    width: 90%;
  }

  .sct1-text {
    margin: 0;
  }

  .sct2-cards {
    width: 100%;
  }

  .content-bottom p {
    padding: 1rem;
  }
}